# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual environments
venv/
.env

# macOS
.DS_Store

# VSCode or JetBrains IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# General
*.swp
*.bak